<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>701936380417-r82mtcvls450qdmeaj5k2gfl01m5mgpn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.701936380417-r82mtcvls450qdmeaj5k2gfl01m5mgpn</string>
	<key>API_KEY</key>
	<string>AIzaSyDtvFvjDQ8FhYJEpT53PxJWi0tAEn-7-cA</string>
	<key>GCM_SENDER_ID</key>
	<string>701936380417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mytakeapp</string>
	<key>PROJECT_ID</key>
	<string>mytake-a7a56</string>
	<key>STORAGE_BUCKET</key>
	<string>mytake-a7a56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701936380417:ios:d2874e43676cf1a1f36e00</string>
</dict>
</plist>